/* CSS HEX */
:root {
    --monitor-gray: #3C3C3C;
    --hospital-gown: #778899;
    --bedpan-gray: #6C757D;
    --overhang-yellow: #F0E68C;
    --siren-red: #D35400;

    --off-white: #e3d8cb;
    --hosptial-white: #F7F7F7;
    --legal-black: #000000;

    --page-font: 'century gothic', sans-serif;
}

body {
    background-color: var(--hospital-gown);
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#heroPage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurVideo{
    filter: blur(10px);
    transition: 2s;
}

#loginCard{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30rem;
    min-height: 15rem;
    height: auto;
    display: none;
    transition: all 2s;
    box-shadow: 0 0 7px 2px var(--off-white);
}
#loginTitle{
    letter-spacing: 10px;
    text-underline-offset: 10px;
    background: -webkit-linear-gradient(10deg, var(--monitor-gray), var(--hosptial-white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 0 var(--monitor-gray);
}

#houseSquare {
    border : 2px solid var(--legal-black);
    padding: 5px 10px 5px 10px;
    margin-right: 7px;
    line-height: 0;
    letter-spacing: normal;
}

.card-image-top{
    transition: transform 0.5s ease;
}
.card-image-top:hover {
    transform: scale(1.1);
}


.fadeInRight{
    animation: fadeInRight 3.2s;
}
.fadeIn{
    animation: fadeIn 2s;
}
.fadeOut{
    animation: fadeOut 2s;
}
.shake{
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-3px, 0); }
    50% { transform: translate(3px, 0); }
    75% { transform: translate(-3px, 0); }
    100% { transform: translate(3px, 0); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(-0%, -0%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}



